.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.calendarContainer {
  width:auto;
  border:1px solid black;
}

.calendarChooser {
    border-bottom:1px solid black;
}
.calendarChooser table {
  position: relative;
  width: 100px;
  background-color: #f0f0f0;
  overflow: hidden;
  border-collapse: collapse;
}

.calendarChooser thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  width: inherit;
  overflow: visible;
}

.calendarChooser tbody {
  position: relative;
  display: block; /*seperates the tbody from the header*/
  width: inherit;
  overflow: scroll;
}

.calendarChooser thead th {
  border: 1px solid #222;
  min-width: 80px;
  padding-left: 5px;
  vertical-align: bottom;
  background-color: #fff;
  font-size: 80%;
  font-weight:normal;
}

.calendarChooser thead th:nth-child(1) {
  /*first cell in the header: Hours of day */
  position: relative;
  display: block; /*seperates the first cell in the header from the header*/
  border-right:1px solid black;
  border-top: none;
  border-left:none;
  border-bottom:1px solid black;
  height:37px;
  min-width: 38px; /* repeat in td child(1) */
}

.calendarChooser thead th:nth-child(2) {/*second cell in the header*/
  border-left:none;
}

.calendarChooser tbody tr {
  height:80px;
}

.calendarChooser tbody td {
  background-color: #f4f4f4;
  min-width: 80px;
  min-height:80px;
  border: 1px solid #222;
  border-left: 0px solid #222;
  overflow:visible;
  margin:0;
  padding:0;
}

.calendarChooser tbody tr:nth-child(1) td {
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  border-top:0px;
  border-bottom:0px;
}

.calendarChooser tbody tr td:nth-child(1) {
  /*the first cell in each tr*/
  display: block; /*seperates the first column from the tbody*/
  position: relative;
  border:none;
  background-color: #fff;
  min-width: 38px;
  z-index:100;
  height:80px;
  max-height:80px;
  text-align: right;
  padding-right:3px;
  display: table-cell;
  vertical-align:middle !important;
  color:#808080;
  font-size:.85em;
}

.calendarChooser td .dayCell {
    height:20px;
    margin:0px;
    color:#fff;
    font-size: .8em;
    z-index:0;
    border-bottom: 1px solid #d3d3d3;
}

.calendarChooser td .dayCell:nth-child(4) {
  border-bottom: none;
}

.calendarChooser th .dayOfMonth {
  font-weight: bold;
  font-size:14px;
  margin:0px;
  padding:0px;
  float:left;
  vertical-align: top;
}

.calendarChooser th .nameMonth {
  float:right;
  margin-right:5px;
  font-size:10px;
  color:#c0c0c0;
  margin-bottom:0px;
  vertical-align: top;
}

.calendarChooser th .dayOfWeek {
  vertical-align: bottom;
}

#droppable {
  max-height: 20px;
}

/* for ui pop up */
.ui-draggable, .ui-droppable {
	background-position: top;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid yellow !important;
	background: yellow !important;
  display:block;
  width:80px !important;
}

.ui-dialog {
  z-index: 1031 !important;
}
.ui-dialog .ui-dialog-content {
  padding: .5em .2em .4em .2em !important;
}

.ui-dialog .ui-dialog-titlebar {
  padding: .1em 1em !important;
}

.ui-dialog .ui-dialog-buttonpane {
  margin-top:0 ;
  padding: .1em .1em 0 .4em;
}

.ui-resizable-handle img {
  margin-top:-4px;
}

.resizable {
  width: 79px !important;
}

.ui-dialog-titlebar-close {
  padding-left:0px !important;
}

.ui-dialog-titlebar-close .ui-icon {
  margin-top:-.3em !important;
}
