#droppable,#droppable2 { width: 100px; max-height: 20px; padding: 0.5em;; margin: 10px; }
#draggable, #draggable-nonvalid { width: 50px; height: 50px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }

.calendarChooser {
    width:800px;
    border-bottom:1px solid black;
}

table {
  position: relative;
  width: inherit;
  background-color: #f0f0f0;
  overflow: hidden;
  border-collapse: collapse;
}

/*thead*/
thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  width: inherit;
  overflow: visible;
}

/*tbody*/
tbody {
  position: relative;
  display: block; /*seperates the tbody from the header*/
  width: inherit;
  height:500px;
  overflow: scroll;
}

thead th {
  border: 1px solid #222;
  min-width: 100px;
  padding-left: 5px;
  vertical-align: bottom;
  background-color: #fff;
  font-size: 80%;
  font-weight:normal;
}

thead th:nth-child(1) {
  /*first cell in the header: Hours of day */
  position: relative;
  display: block; /*seperates the first cell in the header from the header*/
  border-right:1px solid black;
  border-top: none;
  border-left:none;
  border-bottom:1px solid black;
  height:37px;
  min-width: 60px;
}

thead th:nth-child(2) {/*second cell in the header*/
  border-left:none;
}

tbody td {
  background-color: #f4f4f4;
  min-width: 100px;
  border: 1px solid #222;
  border-left: 0px solid #222;
  height:50px;
}

tbody tr:nth-child(1) td {
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  border-top:0px;
  border-bottom:0px;
}

tbody tr:nth-child(1) td:nth-child(1) {

}

tbody tr td:nth-child(1) {  /*the first cell in each tr*/
  position: relative;
  display: block; /*seperates the first column from the tbody*/
  border:none;
  background-color: #fff;
  min-width: 60px;
}

td .dayCell {
    height:100%;
    margin:0px;
}

td.hourOfDay {
 text-align: right;
 padding-right:3px;
 padding-top:5px;
 color:#808080;
}
.dayOfMonth {
  font-weight: bold;
  font-size:14px;
  margin-bottom:0px;
  float:left:
}

.nameMonth {
  float:right;
  margin-right:5px;
  font-size:10px;
  color:#c0c0c0;
  margin-bottom:0px;
}

td .apple {
  background-color: red;
  width:50px;
  height:50px;
}
