/* CSS used here will be applied after bootstrap.css */
body {
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.wrap > .container_home {
    padding: 10px 15px 20px;
    margin-top:50px;
}

.home-top {
  margin-top:12%;
}

.video-top {
  margin-top:23%;
}

.panel-default {
 opacity: 0.9;
}

.jumbotron {
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color:#fff;
    border-radius:5px;
    padding-top:15px;
    padding-bottom:1px;
}
.jumbotron h1 {
  font-size:40px;
}
.jumbotron .lead {
  color:#fff;
}
.jumbotron p.lead {
  font-size: 24px;
}
.jumbotron .btn {
    font-size: 21px;
    opacity:.8;
    margin:25px;
}

ul.auth-clients {
  margin-bottom:0;
}

@media only screen
and (max-width: 992px)
and (-webkit-min-device-pixel-ratio: 2) {
  .jumbotron p.lead {
    font-size: 28px;
  }
  .hiw-visual-first,.hiw-visual-second img {
    padding:0 10% 0 10%;
  }
}
@media only screen
and (min-width: 993px)
and (max-width: 1029px)
and (-webkit-min-device-pixel-ratio: 2) {
  .jumbotron h1 {
    font-size:48px;
  }

  li.auth-client {
    margin-right:3px !important;
    padding-right:0px !important;
  }

  ul.auth-clients {
    -webkit-padding-start: 3px !important;
  }
  .panel-auth-clients {
    padding: 25px 15px;
  }


}
@media only screen
and (min-width: 1028px)
and (-webkit-min-device-pixel-ratio: 2) {
  .jumbotron h1 {
    font-size:48px;
  }

  li.auth-client {
    margin-right:3px !important;
    padding-right:1px !important;
  }
  ul.auth-clients {
    -webkit-padding-start: 10px !important;
  }
  .panel-auth-clients {
    padding: 25px 15px;
  }

}
@media only screen
and (min-width: 1200px)
and (-webkit-min-device-pixel-ratio: 2) {
  .firstpanel {
    margin-top:300px;
  }

  li.auth-client {
    padding-right:10px !important;
  }
}
