html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.meeting-view h4 {
  margin-bottom:0px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.hint-text {
    color: #999;
    font-size:90%;
    font-style: italic;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.vertical-pad {
  margin:15px 0px;
}

.profile-image {
  border:1px solid black;
}

tr.small-header {
  font-weight:bold;
  font-style:italic;
}

/* Custom styles */

/* virtual or in person switch */
td.virtualThing .form-group .bootstrap-switch .bootstrap-switch-container {
  height:34px;
  background-color: white;
}
td.virtualThing .form-group .bootstrap-switch .bootstrap-switch-container span.bootstrap-switch-primary {
  padding-top:7px;
}
td.virtualThing .form-group .bootstrap-switch .bootstrap-switch-container span.bootstrap-switch-default {
  padding-top:7px;
}
td.virtualThing .form-group .bootstrap-switch .bootstrap-switch-container span.bootstrap-switch-label {
}

/* mouse spacing for icons and buttons */
a.icon-pad {
  padding: 0 3px 0 3px;
}

/* meeting participant in index view */
.index-participant {
  font-style:italic;
  font-size: 90%;
  color: grey;
}
.rwd-break {
  display:none;
}
table.table-list {
  width:100%;
}
table.table-list td.table-list-first {
    float: left;
    display: inline;
    width: auto;
  }

table.table-list td.table-switches {
    width: auto;
    float: right;
    display: inline;
    padding-top: 10px;
  }
.switch-pad {
    padding-left:7px;
  }
.smallStatus {
  font-size:90%;
  color: grey;
  font-style: italic;
}
.setting-label label, #preferences label {
  font-weight:normal;
}
.command-bar {
    margin: 0 0 10px 0;
}

.hidden, #tz_alert, #tz_success {
  display:none;
  visible:false;
}

/* ----------- mobile displays ----------- */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /* hides drop down menu items and footer items */
    .itemHide,li.menuHide {
      display:none;
      visible:false;
    }
    /* removes home and / from breadcrumb */
    ul.breadcrumb li:first-child, li.tabHide {
      display:none;
      visible:false;
    }
     ul.breadcrumb li:nth-child(2)::before {
       content:'';
    }
    /* fingertip spacing for buttons */
    a.icon-pad {
      padding: 0 5px 0 2px;
    }
    .button-pad {
      padding: 7px 0 7px 0;

    }
    .rwd-break {
      display:block;
    }
    .heading-pad {
      margin-top:5px;
    }
}
